In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2013'
response = requests.get(url)
print(response)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[20]
print(temp)
temp2013 = temp.text
print(temp2013)

<Response [200]>
<span class="accounting-value">831,2 млн ₽</span>
831,2 млн ₽

In [3]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2014'
response = requests.get(url)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[20]
print(temp)
temp2014 = temp.text
print(temp2014)

<span class="accounting-value">642,6 млн ₽</span>
642,6 млн ₽

In [4]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2015'
response = requests.get(url)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[20]
print(temp)
temp2015 = temp.text
print(temp2015)

<span class="accounting-value">3,1 млрд ₽</span>
3,1 млрд ₽

In [5]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2016'
response = requests.get(url)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[20]
print(temp)
temp2016 = temp.text
print(temp2016)

<span class="accounting-value">1,8 млрд ₽</span>
1,8 млрд ₽

In [6]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2017'
response = requests.get(url)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[20]
print(temp)
temp2017 = temp.text
print(temp2017)

<span class="accounting-value">2,4 млрд ₽</span>
2,4 млрд ₽

In [7]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2018'
response = requests.get(url)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[18]
print(temp)
temp2018 = temp.text
print(temp2018)

<span class="accounting-value">3,1 млрд ₽</span>
3,1 млрд ₽

In [8]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2019'
response = requests.get(url)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[19]
print(temp)
temp2019 = temp.text
print(temp2019)

<span class="accounting-value">1,1 млрд ₽</span>
1,1 млрд ₽

In [9]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2020'
response = requests.get(url)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[18]
print(temp)
temp2020 = temp.text
print(temp2020)

<span class="accounting-value">2,8 млрд ₽</span>
2,8 млрд ₽

In [10]:
url = 'https://excheck.pro/company/5001026970/finances?type=results&year=2021'
response = requests.get(url)
bs = BeautifulSoup(response.text,"lxml")
temp = bs.find_all('span', 'accounting-value')[16]
print(temp)
temp2021 = temp.text
print(temp2021)

<span class="accounting-value">1,9 млрд ₽</span>
1,9 млрд ₽

In [11]:
list = []
list = temp2013 + ',' + ' ' + temp2014 + ',' + ' ' + temp2015 + ',' + ' ' + temp2016 + ',' + ' ' + temp2017 + ',' + ' ' + temp2018 + ',' + ' ' + temp2019 + ',' + ' ' + temp2020 + ',' + ' ' + temp2021
print(list)

831,2 млн ₽, 642,6 млн ₽, 3,1 млрд ₽, 1,8 млрд ₽, 2,4 млрд ₽, 3,1 млрд ₽, 1,1 млрд ₽, 2,8 млрд ₽, 1,9 млрд ₽

In [12]:
my_df = pd.DataFrame({'year': [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
'net_profit': [831200000, 642600000,  3100000000, 1800000000, 2400000000, 3100000000, 1100000000, 2800000000, 1900000000]})
my_df

   year  net_profit
0  2013   831200000
1  2014   642600000
2  2015  3100000000
3  2016  1800000000
4  2017  2400000000
5  2018  3100000000
6  2019  1100000000
7  2020  2800000000
8  2021  1900000000

In [13]:
new_df = pd.date_range(start='31/12/2012', end = '31/12/2021', freq='W')
new_df = pd.DataFrame(new_df)

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Parsing '31/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Parsing '31/12/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
new_df.columns = ['weaks'] 
new_df

         weaks
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [15]:
l = []
for i in my_df['net_profit']:
  l.append(round(i / 52))
l

[15984615,
 12357692,
 59615385,
 34615385,
 46153846,
 59615385,
 21153846,
 53846154,
 36538462]

In [16]:
new_df.columns = ['weaks']
new_df

         weaks
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [17]:
new_df['net_profit'] = ''
new_df

         weaks net_profit
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...        ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 2 columns]

In [18]:
new_df['net_profit'].iloc[:52] = l[0]
new_df['net_profit'].iloc[52:104] = l[1]
new_df['net_profit'].iloc[104:156] = l[2]
new_df['net_profit'].iloc[156:208] = l[3]
new_df['net_profit'].iloc[208:260] = l[4]
new_df['net_profit'].iloc[260:312] = l[5]
new_df['net_profit'].iloc[312:364] = l[6]
new_df['net_profit'].iloc[364:416] = l[7]
new_df['net_profit'].iloc[416:] = l[8]
new_df

<ipython-input-18-887e82c22633>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[:52] = l[0]
<ipython-input-18-887e82c22633>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[52:104] = l[1]
<ipython-input-18-887e82c22633>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[104:156] = l[2]
<ipython-input-18-887e82c22633>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[156:208] = l[3]
<ipython-input-18-887e82c22633>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[208:260] = l[4]
<ipython-input-18-887e82c22633>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[260:312] = l[5]
<ipython-input-18-887e82c22633>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[312:364] = l[6]
<ipython-input-18-887e82c22633>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[364:416] = l[7]
<ipython-input-18-887e82c22633>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['net_profit'].iloc[416:] = l[8]

         weaks net_profit
0   2013-01-06   15984615
1   2013-01-13   15984615
2   2013-01-20   15984615
3   2013-01-27   15984615
4   2013-02-03   15984615
..         ...        ...
464 2021-11-28   36538462
465 2021-12-05   36538462
466 2021-12-12   36538462
467 2021-12-19   36538462
468 2021-12-26   36538462

[469 rows x 2 columns]

In [19]:
time_series = new_df['net_profit']

In [22]:
def set_trend_time_series(time_series):
    
    mean = sum(time_series) / len(time_series)
    
    summ = 0
    for value in time_series:
        summ += (value - mean)**2
    

    trend = summ / len(time_series)
    
    return trend
print(set_trend_time_series(time_series))

298379672513624.44