In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:
import random

In [3]:
urls = [
    ('https://excheck.pro/company/5001026970/finances?type=results&year=2013'),
    ('https://excheck.pro/company/5001026970/finances?type=results&year=2014'),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2015"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2016"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2017"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2018"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2019"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2020"),
    ("https://excheck.pro/company/5001026970/finances?type=results&year=2021")
]

info = []

for url in urls:
    responce = requests.get(url)
    soup = BeautifulSoup(responce.text, "lxml")
    s = soup.find("span", class_ ="accounting-value")
    s.text
    info += s
print(info)

['6,4 млрд ₽', '7,9 млрд ₽', '12,8 млрд ₽', '20,6 млрд ₽', '26,6 млрд ₽', '22,8 млрд ₽', '19,3 млрд ₽', '22,5 млрд ₽', '22,9 млрд ₽']

In [4]:
df = pd.DataFrame({
  "year" : ['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
  'revenue': info})
df

   year      revenue
0  2013   6,4 млрд ₽
1  2014   7,9 млрд ₽
2  2015  12,8 млрд ₽
3  2016  20,6 млрд ₽
4  2017  26,6 млрд ₽
5  2018  22,8 млрд ₽
6  2019  19,3 млрд ₽
7  2020  22,5 млрд ₽
8  2021  22,9 млрд ₽

In [5]:
df['revenue'] = pd.to_numeric(df['revenue'].str.replace('\D', ''), errors='coerce')
df

C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\728130193.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['revenue'] = pd.to_numeric(df['revenue'].str.replace('\D', ''), errors='coerce')

   year  revenue
0  2013       64
1  2014       79
2  2015      128
3  2016      206
4  2017      266
5  2018      228
6  2019      193
7  2020      225
8  2021      229

In [6]:
df['revenue'] = df['revenue'].apply(lambda x: x * 1000000000)
df

   year       revenue
0  2013   64000000000
1  2014   79000000000
2  2015  128000000000
3  2016  206000000000
4  2017  266000000000
5  2018  228000000000
6  2019  193000000000
7  2020  225000000000
8  2021  229000000000

In [7]:
df1 = pd.date_range(start='31/12/2012', end = '31/12/2021', freq='W')
df1 = pd.DataFrame(df1)
df1

C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\346366220.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df1 = pd.date_range(start='31/12/2012', end = '31/12/2021', freq='W')

             0
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [8]:
df1.columns = ['weaks'] 
df1

         weaks
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [9]:
r = []
for i in df['revenue']:
  r.append(round(i / 52))
r

[1230769231,
 1519230769,
 2461538462,
 3961538462,
 5115384615,
 4384615385,
 3711538462,
 4326923077,
 4403846154]

In [10]:
df1['revenue'] = ''
df1

         weaks revenue
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...     ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 2 columns]

In [11]:
df1['revenue'].iloc[:52] = r[0]
df1['revenue'].iloc[52:104] = r[1]
df1['revenue'].iloc[104:156] = r[2]
df1['revenue'].iloc[156:208] = r[3]
df1['revenue'].iloc[208:260] = r[4]
df1['revenue'].iloc[260:312] = r[5]
df1['revenue'].iloc[312:364] = r[6]
df1['revenue'].iloc[364:416] = r[7]
df1['revenue'].iloc[416:] = r[8]
print(df1)

         weaks     revenue
0   2013-01-06  1230769231
1   2013-01-13  1230769231
2   2013-01-20  1230769231
3   2013-01-27  1230769231
4   2013-02-03  1230769231
..         ...         ...
464 2021-11-28  4403846154
465 2021-12-05  4403846154
466 2021-12-12  4403846154
467 2021-12-19  4403846154
468 2021-12-26  4403846154

[469 rows x 2 columns]

C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[:52] = r[0]
C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[52:104] = r[1]
C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[104:156] = r[2]
C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[156:208] = r[3]
C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[208:260] = r[4]
C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[260:312] = r[5]
C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[312:364] = r[6]
C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[364:416] = r[7]
C:\Users\nglls\AppData\Local\Temp\ipykernel_5716\2301833054.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue'].iloc[416:] = r[8]